{template 'common/header'}
{if $rid!=''}
{template 'web/nav'}
{/if}
<style>
th,td{
  text-align: center;
}
.bg{
  background-color: #c2c2c2 !important;
  border-style: none
}
</style>
<ul class="nav nav-tabs">

  <li {if $operation == 'list'}class="active"{/if}><a href="{php echo $this->createWebUrl('ly_game_area',array('op'=>'list','rid'=>$rid))}">赛区列表</a></li>
  <li {if $operation == 'add'}class="active"{/if}><a href="{php echo $this->createWebUrl('ly_game_area',array('op'=>'add','rid'=>$rid))}">
   {if empty($_GPC['id'])}添加赛区 {else}编辑赛区{/if}
 </a></li>
</ul>
{if $operation == 'add'}
<form class="form-horizontal" role="form" method="post" action="">
	<div class="form-group">
		<label for="firstname" class="col-sm-2 control-label">赛区</label>
		<div class="col-sm-8">
			<input type="text" name="name" value="{$area['name']}" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<input type="hidden" name="id" value="{$area['id']}">
			<input type="hidden" name="token" value="{$_W['token']}">
			<input type="submit" name="submit" class="btn btn-default" value="提交">
		</div>
	</div>
</form>
{elseif $operation == 'list'}
<div class="panel panel-info">
  <div class="panel-heading">筛选</div>
  <div class="panel-body">
    <form action="" method="post" class="form-horizontal" role="form">
      <div class="row">
        <div class="col-md-4">
          <input type="text" class="form-control" name="keyword" value="{$_GPC['keyword']}" placeholder="请输入搜索的赛区名">
        </div>
        <div class="col-md-2">
          <input type="hidden" name="token" value="{$_W['token']}">
          <input type="submit" name="submit" class="btn btn-success" value="搜索">
        </div>
      </div>
    </form>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>赛区</th>
      <th>编辑</th>
    </tr>
  </thead>
  <tbody>
  	{loop $area_list $index $val}
    <tr>
      <td>{php echo $index+1}</td>
      <td>{$val['name']}</td>
      <td>
      	<a class="btn btn-danger" href="{php echo $this->createWebUrl('ly_game_area',array('op'=>'del','id'=>$val['id'],'rid'=>$rid))}">删除</a>
      	<a class="btn btn-info" href="{php echo $this->createWebUrl('ly_game_area',array('op'=>'add','id'=>$val['id'],'rid'=>$rid))}">修改</a>
        <span class="btn btn-success is_display {if $val['is_display']==1}bg{/if}" data-id="{$val['id']}">{if $val['is_display'] == 0}开始报名{else}结束报名{/if}</span>
        <span class="btn btn-success is_vote {if $val['isvote']==1}bg{/if}" data-id="{$val['id']}">{if $val['isvote'] == 0}开始投票{else}结束投票{/if}</span>
      </td>
    </tr>
    {/loop}
  </tbody>
</table>
<script type="text/javascript">
  $(function(){
    $('.is_display').click(function(){
      var id = $(this).data('id')
      　  var elem = $(this)
      $.post("{php echo $this->createWebUrl('ly_game_area')}",{id:id},function(res){
        if(res.code){
          if(res.msg){
            elem.text('结束报名').addClass('bg')
          }else
          elem.text('开始报名').removeClass('bg')
        }
      },'json')
    })
    $('.is_vote').click(function(){
      var id = $(this).data('id')
      var elem = $(this)
      $.post("{php echo $this->createWebUrl('ly_game_area')}",{id:id,oper:'vote'},function(res){
        if(res.code){
          if(res.msg){
            elem.text('结束投票').addClass('bg')
          }else
          elem.text('开始投票').removeClass('bg')
        }
      },'json')
    })
  })
</script>
{/if}
{template 'common/footer'}